<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tropo</title>
  <meta charset="utf-8">
  <meta name="description" content="SUPERTROPO!">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="/socket.io/socket.io.js"></script>
  <script src="socket/socket.js"></script>
</head>
<body>

<div class="startScreen">
  <h1>Expeditie Tropo</h1>
  <h3>Een leerzame ontdekkende vlieg ervaring</h3>
</div>

  <div id="container">
    ... loading ...
  </div>

  <!-- Libraries -->
  <script src="lib/jquery.js"></script>
  <script src="lib/three.min.js"></script>
  <script src="lib/collada.js"></script>
  <script src="lib/tween.js"></script>
  <!-- Variables -->
  <script src="vars.js"></script>
  <!-- Controls -->
  <script src="controls/controllercontrols.js"></script>
  <!-- <script src="controls/mousecontrols.js"></script> -->
  <!-- Dependencies -->
  <script src="database.js"></script>
  <script src="kinect/kinect.js"></script>
  <!-- View -->
  <script src="view.js"></script>

</body>
</html>