body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #000;
    color: #fff;
}

.loading-image {
    padding-top: 25%;
}

.logoScreen {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999999999;
    top: 0;
    left: 0;
    background-color: #b4cde3;
    display: none;
}

.logoScreen img {
    height: 100%;
}

#instruction {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(162,190,216,0.8);
    display: none;
}

.instruction-img {
    width: 300px;
    margin-top: -150px;
    padding-top: 25%;
}

#leapInstruction {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(162,190,216,0.8);
    display: none;
}

#game {
    padding: 15px;
    display: block;
    position: absolute;
    right: 0;
    display: none;
    background-color: #fff;
    border: solid 1px #ccc;
    border-radius: 5px;
    color: #333;
    font-family: verdana, sans-serif;
    font-weight: 800;
    font-size: 32px;
}

#game #score {
    margin-bottom: 50px;
}

#game img {
    height: 128px;
    margin: 5px;
    opacity: 1;
}