<!DOCTYPE html>
<html lang="en">
<head>
<title>Superwereld</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<style>
  body {
    margin: 0; padding: 0;
    text-align: center;
  }
</style>
<script src="/socket.io/socket.io.js"></script>
<script src="lib/socket.js"></script>
</head>
<body>

<div id="container">
  ... Loading ...
</div>

<script src="lib/jquery.js"></script>
<script src="lib/three.min.js"></script>
<script src="lib/firstpersoncontrols.js"></script>
<script src="lib/collada.js"></script>
<!-- <script src="lib/tween.js"></script> -->

<script src="database.js"></script>
<script src="main.js"></script>

</body>
</html>