<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tropo</title>
  <meta charset="utf-8">
  <meta name="description" content="SUPERTROPO!">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <!-- Socket -->
  <script src="/socket.io/socket.io.js"></script>
  <script src="lib/socket.js"></script>
</head>
<body style="margin: 0; padding: 0; text-align: center;">

  <!-- Container -->
  <div id="container">
    ... loading ...
  </div>

  <!-- Libraries -->
  <script src="lib/jquery.js"></script>
  <script src="lib/three.min.js"></script>
  <!-- <script src="lib/controllercontrols.js"></script> -->
  <script src="lib/collada.js"></script>
  <script src="lib/tween.js"></script>

  <script src="lib/mousecontrols.js"></script>

  <!-- Own Scripts -->
  <script src="database.js"></script>
  <script src="view.js"></script>

</body>
</html>