/* General */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  color: #fff;

  background-color: #80AEFF;
  overflow: hidden;  
}

/* Controller */
#gyro,#accelero {
  padding: 30px;
  /*display: none;*/
}

/* View */
.draaidiv {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
}

.vloer {
  background-color: #A9CC52;
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: -100%;
  top: 80%;
}

.twee {
  left: 0%;
}

.drie {
  left: 100%;
}

.koe {
  position: absolute;
  left: 20%;
  top: -40px;
}
.god {
  position: absolute;
  right: 20%;
  top: -440px;
}

/*3DView*/
#3DView {
  widht: 100%;
  height: 100%;
  display: block;
}